<link rel="stylesheet" href="/static/css/maindrawer.css">
<div id="main">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span style="text-align:center;float:none;font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</span>

    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="font-size:30px" href="#">Dr.Dot Open Source Suite</a></li>
    </ul>

  </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <p id="Sidebar_Title" style="font-size:20px">Features</p>
    <a href="#">Emergency Contact</a>
    <a ng-click="goDoctor()">Dr. Finder</a>
    <a href="#">Calendar Sync Help</a>
  </div>


  <!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->
  <blockquote id="mainview" style="display: none">
    <p>I am here to help you set up your sheeeeeeiiiiiiiit.</p>
    <small>Engineering Majors Everywhere <cite title="Source Title">Engineering Majors of the World</cite></small>
  </blockquote>

  <blockquote id="doctorview" style="display: none; background-color: #E7E7E7;">
    <h2>Recommended Doctor: <span id="doctorname"></span></h2>
    <p>Phone number: <span id="phone"></span></p>
    <p>Address: <span id="address"></span></p>
    <br>
    <iframe
      id="google_map"
      width="800"
      height="400"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-7S3jUfAxUgQQqbwGVkqWBD-Tv1WTRiw&q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe>
  </blockquote>

</div>
