<link rel="stylesheet" href="/static/css/maindrawer.css">
<div id="main">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span style="text-align:center;float:none;font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</span>

    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a style="font-size:30px" href="#">Dr.Dot Open Source Suite</a></li>
    </ul>

  </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <p id="Sidebar_Title" style="font-size:20px">Features</p>
    <a href="#">Emergency Contact</a>
    <a href="#">Dr. Finder</a>
    <a href="#">Calendar Sync Help</a>
  </div>


  <!--<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->
  <blockquote>
    <p>I am here to help you set up your sheeeeeeiiiiiiiit.</p>
    <small>Engineering Majors Everywhere <cite title="Source Title">Engineering Majors of the World</cite></small>
  </blockquote>
</div>
